.label-titre {
    -fx-text-fill: #FFCC33;
    -fx-font-style: italic;
}

.texte-nbr-joueurs {
    -fx-font-size: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #000000
}

.bouton-moins {
    -fx-background-color: #f53939;
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-text-decoration: none;
}

.bouton-moins:hover {
    -fx-background-color: #ff0000;
}

.bouton-plus {
    -fx-background-color: #2e82ff;
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-family: Arial;
    -fx-font-size: 24px;
    -fx-text-decoration: none;
}

.bouton-plus:hover {
    -fx-background-color: #4a6eff;
}

.bouton-jouer {
    -fx-background-color: #f0c911;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: #e65f44;
    -fx-cursor: hand;
    -fx-text-fill: #c92200;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-padding: 18px 60px;
    -fx-text-decoration: none;
}

.bouton-jouer:hover {
    -fx-background-color: #f2ab1e;
}

.bouton-lancer {
    -fx-background-color: #348ded;
    -fx-background-radius: 30px;
    -fx-border-radius:30px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
    -fx-font-size:17px;
    -fx-padding:22px 39px;
    -fx-text-decoration: none;
}

.bouton-lancer:hover {
    -fx-background-color:#266fbd;
}

.bouton-valider {
        -fx-background-color: limegreen;
        -fx-background-radius: 30px;
        -fx-border-radius:30px;
        -fx-border-width: 2px;
        -fx-border-color: #000000;
        -fx-cursor: hand;
        -fx-text-fill: #FFFFFF;
        -fx-font-size:17px;
        -fx-padding:22px 39px;
        -fx-text-decoration: none;
}

.bouton-valider:hover {
    -fx-background-color: #588401;
}


.bouton-moins:pressed, .bouton-plus:pressed, .bouton-jouer:pressed, .bouton-lancer:pressed, .bouton-valider:pressed {
    -fx-translate-y: 1px;
}

.bordered-hbox {
    -fx-border-color: black;
    -fx-border-width: 2px;
}